@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* For smartphone displays */
.countdown {
  background-image: url('../../public/xv/imgs/countdown_sm-1.jpg');
}

.form {
  background-image: url('../../public/xv/imgs/form_sm.jpg');
}